.footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px 0;
    height: 10vh;
}

.footer-content {
    margin-bottom: 15px;
}

.footer-bottom {
    font-size: 14px;
}

/* Responsive Design */
@media (max-width: 600px) {
    .footer {
        padding: 10px 0;
    }
    .footer-content {
        font-size: 14px;
    }
}
